node_modules
npm-debug.log
.npm
logs
*.log
tmp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
dist/
build/
node_modules/
Dockerfile*
docker-compose*
*.md
LICENSE
.git
.gitignore
.dockerignore
.nvmrc
.nodemonignore
.editorconfig
.vscode
.idea
*.yml